@font-face {
  font-family: "IRANSansWebUltraLight";
  src: url("~@/assets/font/ttf/IRANSansWeb(FaNum)_UltraLight.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANSansWebBlack";
  src: url("~@/assets/font/ttf/IRANSansWeb(FaNum)_Black.ttf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANSansWebBold";
  src: url("~@/assets/font/ttf/IRANSansWeb(FaNum)_Bold.ttf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANSansWebMedium";
  src: url("~@/assets/font/ttf/IRANSansWeb(FaNum)_Medium.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
